{% extends 'frontbase.html.twig' %}

{% block title %}New ShopCart{% endblock %}

{% block content %}
    <h1>Create new ShopCart</h1>

    {{ include('shop_cart/_form.html.twig') }}

    <a href="{{ path('shop_cart_index') }}" class="btn btn-primary" >Sepete Geri Dön</a>
{% endblock %}
